# Added by ggshield
.cache_ggshield

.gitignore
automation/add-route/inventory.txt
automation/add-route/mac_route_update.log
automation/certificate-checker/cert-checker-README.md
automation/cisco-sw/catalyst-audit/audit-results.csv
automation/cisco-switches/catalyst-audit/versions.csv 
automation/cisco-switches/catalyst-audit/aaa-audit-results*.*
automation/cisco-switches/catalyst-audit/audit-results.csv
automation/cisco-switches/catalyst-audit/inventory.txt
automation/cisco-switches/copy-run-star/ios-inventory.txt
automation/cisco-switches/copy-run-star/nxos-inventory.txt
automation/cisco-switches/copy-run-star/ios_results.csv
automation/cisco-switches/copy-run-star/nxos_results.csv
automation/cisco-switches/topo_map/mapping/
automation/macos-add-route/mac_route_update.log

topo_map/mapping/
automation/bgp-check/circuits.csv
automation/bgp-check/T-Studios-Circuit List.xlsx
automation/bgp-check/bgp-verification-results.csv
automation/bgp-check/circuits.xlsx
automation/cisco-switches/bgp-check/T-Studios-Circuit List.xlsx
automation/cisco-switches/bgp-check/circuits.xlsx
automation/cisco-switches/bgp-check/circuits.csv
automation/cisco-switches/bgp-check/bgp-verification-results.csv
automation/cisco-switches/topo_map/circuits.xlsx
