[Unit]
Description=Closed Caption TCP Web Viewer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=captionviewer
Group=captionviewer
WorkingDirectory=/##UPDATE
ExecStart=/usr/libexec/platform-python /opt/caption-viewer/caption_viewer.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target